body {
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

/* top-row */

.top-row {
	height: 45px;
	background: #333333;
	border-bottom: 1px solid #000000;
	font-weight: lighter;
}

.top-row__text {
	display: inline-block;
	color: #676767;
	padding-left: 20.5px;
	padding-top: 14.47px;
	padding-bottom: 18.03px;
	font-family: Verdana;
	font-size: 13px;
	position: absolute;
	letter-spacing: -0.9px;
}

.top-row__tel-email:first-letter {
	letter-spacing: 1px;
}

.top-row__search {
	display: inline-block;
	position: absolute;
	right: 0;
	padding-right: 18px;
	padding-top: 6px;
	padding-bottom: 7.80px;
}

.email {
	font-size: 13px;
}

.top-row__menu {
	position: relative;
	height: 45px;
}

.search {
	font-family: Georgia;
	font-size: 12px;	
	background: #3e3e3e;
	border: 0;
	width: 240px;
	height: 30.20px;
	border-radius: 10px;
	outline: none;	
}
.search::-webkit-input-placeholder {
	color: #c7ced6;
	text-transform: uppercase;
}

.top-row__search-button {
	font-family: Georgia;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: -69px;
	border-radius: 20px;
	outline: none;
}



/* HEADER */


.header {
	height: 59px;
	background: #222222;
	border-bottom: 1px solid #000000;
}

.nav-menu__list {
	list-style-type: none;
	margin: 0;
	font-family: Georgia;
	font-size: 0px;
	text-transform: uppercase;
	vertical-align: top;
	padding-left: 0;
	vertical-align: top;
}

.nav-menu__item {
	display: inline-block;
	border-right: 1px solid #333333;
	height: 59px;
	box-sizing: border-box;	
	font-size: 14px;	
}

.nav-menu__item-first {
	border-left: 1px solid #333333;
	width: 134px;
	
}

.top-menu__link {
	display: block;
	font-weight: bold;
	padding-left: 18px;
	padding-right: 19px;	
	padding-top: 21px;
	padding-bottom: 22px;
	color: #aaaaaa;
	text-decoration: none;
	
}
.top-menu__link:hover {
	color: #969845;
}

.nav-menu {
	text-align: center;
}

.nav-menu__item-second {
	width: 144px;
}

.nav-menu__item-third {
	width: 143px;
}

.nav-menu__item-fourth {
	width: 136px;
}

.nav-menu__item-last {
	width: 130px;
}

.top-row__email {
	font-size: 14px;
}
